<?xml version="1.0" encoding="utf-8"?>

<launch>
  
  <!-- True When this launch file is only used for creating the Elevation Map -->
  <arg name="pose" default="true"/> 
  <!-- True enable the traversability map  -->
  <arg name="traversability" default="false"/>

  <!-- Create a new TF --> <!-- 카메라 2개 사용중-->
  <node pkg="tf" type="static_transform_publisher" name="base2cam_1" args="0.2 0 0.9 0 0 0 base_link cam_1_link 100"/>
  <node pkg="tf" type="static_transform_publisher" name="base2cam_2" args="-0.2 0 0.9 3.14159 0 0 base_link cam_2_link 100"/>
  <!--node pkg="tf" type="static_transform_publisher" name="map2camera" args="0 0 0 0 0 0  /map /camera_link 100000000000"/> -->

  <group unless="$(arg pose)">
    <!-- Publish tf 'base_footprint' as POSE.-->
    <node pkg="elevation_mapping_demos" type="pose_translator.py" name="pose_tanslator"/>
  </group>

  <!-- Run a passthrough filter to down-sample the sensor point cloud. 다운샘플링하는 코드-->
  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen"/>
  
  <node pkg="nodelet" type="nodelet" name="voxel_grid_cam1" args="load pcl/VoxelGrid pcl_manager">
    <remap from="~input" to="/cam_1/depth/color/points"/>
    <remap from="~output" to="/cam_1/depth/color/points_downsampled"/>

    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.01
      filter_limit_max: 6.0  <!-- Limit the range of points to forward to 6 meters in viewing direction-->
      filter_limit_negative: False
      leaf_size: 0.04 <!-- Limit the density to 6 cm-->
    </rosparam>
  </node>
  
  <node pkg="nodelet" type="nodelet" name="voxel_grid_cam2" args="load pcl/VoxelGrid pcl_manager">
    <remap from="~input" to="/cam_2/depth/color/points"/>
    <remap from="~output" to="/cam_2/depth/color/points_downsampled"/>

    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.01
      filter_limit_max: 6.0  <!-- Limit the range of points to forward to 6 meters in viewing direction-->
      filter_limit_negative: False
      leaf_size: 0.04 <!-- Limit the density to 6 cm-->
    </rosparam>
  </node>

  





  <!-- With NO POSE_WITH_COVARIANCE -->
  <group unless="$(arg pose)">
    <!-- Launch the Camera -->
    <include file="$(find elevation_mapping)/launch/launch_d435i.launch">
      <arg name="run_rtabmap" value="false"/>
    </include> 

    <!-- Elevation mapping node -->
    <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
      <rosparam command="load" file="$(find elevation_mapping)/config/sensor_processors/realsense_d435i_no_pose.yaml" />
      <rosparam command="load" file="$(find elevation_mapping_demos)/config/postprocessing/postprocessor_pipeline.yaml" />
    </node>

    <!-- Launch RViz with the demo configuration -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find elevation_mapping)/rviz/elevation_map_realsense_d435i_no_pose.rviz" />
  </group>






  <!-- Using POSE_WITH_COVARIANCE from RTABMAP 나는 이 코드를 이용한다 -->
  <group if="$(arg pose)">
    <!-- Launch the Camera with Rtabmap-->
    <include file="$(find elevation_mapping)/launch/launch_d435i.launch">
      <arg name="run_rtabmap" value="true"/>
    </include> 

    <!-- Elevation mapping node -->
    <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
      <rosparam command="load" file="$(find elevation_mapping)/config/sensor_processors/realsense_d435i_rtabmap_pose.yaml" />
      <rosparam command="load" file="$(find elevation_mapping_demos)/config/postprocessing/postprocessor_pipeline.yaml" />
    </node>

    <!-- Launch RViz with the demo configuration -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find elevation_mapping)/rviz/elevation_map_realsense_d435i.rviz" />
  </group>
  
  <!-- Launch visualizations for the resulting elevation map -->
  <include file="$(find elevation_mapping_demos)/launch/visualization.launch" />

  <!-- Enable the Traversability Map -->
  <group if="$(arg traversability)">
    <include file="$(find traversability_estimation)/launch/traversability_d435i.launch">
      <arg name="pose" value="$(arg pose)"/>
    </include>
  </group>

</launch>
