<?xml version="1.0"?>

<launch>
  <!-- Use Rtabmap for Pose or NOT -->
  <arg name="run_rtabmap"
       default="true"/>


<!-- Launch the Camera with Rtabmap 내가 주로 쓰는 코드 여기 윗부분 잠깐 주석처리 ㄱㄱ  -->
  <group if="$(arg run_rtabmap)">
  <!-- <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="align_depth" value="true"/>
        <arg name="linear_accel_cov" value="1.0"/>
        <arg name="unite_imu_method" value="linear_interpolation"/> 
        <arg name="filters" value="pointcloud"/>
    </include> -->  

    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="ImuFilter">
        <param name="use_mag" type="bool" value="false" />
        <param name="_publish_tf" type="bool" value="false" />
        <param name="_world_frame" type="string" value="enu" />
        <remap from="/imu/data_raw" to="/cam_1/imu"/>  <!-- get topic /camera/imu and Madgwick 필터 적용 . 현재는 imu가 없는 D435f 카메라를 사용중이기에 토픽을 받지 않음 -->
    </node>

    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">  <!-- rtmap 실행 부분. cam_1의 정보를 이용해 SLAM을 한다(2는 사용X)  -->
    
    	
        <arg name="frame_id" value="base_link"/>    <!-- rtabmap을 이용해서 SLAM을 진행할 때 기준을 base_link 로 하기 (camera_link X  -->
    
        <arg name="args" value="--delete_db_on_start --Vis/MinInliers 15 --Odom/ResetCountdown 1"/> <!-- 원래 vis부터 countdown 1까지는 없었음. 내가 260212에 추가함. 전의 지도 기억 삭제(지도를 파일로 저장해서 나중에 영향을 주는 것 방지  -->
        
        <arg name="rgb_topic" value="/cam_1/color/image_raw"/>   <!--  cam_1의 정보를 이용해 rtabmap 진행(cam_2는 사용X) 일단 컬러 이미지 사용 -->
        <arg name="depth_topic" value="/cam_1/aligned_depth_to_color/image_raw"/> <!--  aligned depth 이미지도 사용 -->
        <arg name="camera_info_topic" value="/cam_1/color/camera_info"/>  <!--  카메라 정보 관련 토픽 발행. 이게 있어야 2D 사진을 3D로 변환 -->
        <arg name="depth_camera_info_topic" value="/cam_1/depth/camera_info"/> <!--  깊이 센서 정보 -->

        <arg name="odom_topic" value="/rtabmap/odom"/>  <!-- RTABMAP 으로 계산한 로봇의 위치와 방향(Odometry)정보를 발행하는 토픽의 이름 정하기 -->
        <arg name="odom_frame_id" value="/rtabmap/odom"/> <!-- RTABMAP 으로 계산한 로봇의 위치와 방향(Odometry)정보를 발행하는 TF frame id-->

        <arg name="rtabmapviz" value="true"/>   <!-- 이거 켜면 창이 2개 켜진다 그래서 false로 해야 함. 근데 한 번 켜보면 좋을지도? 이거는 Rtabmap을 보면 rviz화면이니까-->
        <arg name="rviz" value="false"/>
    </include>

    <!-- <include file="$(find robot_localization)/launch/ukf_template.launch"/>
    <param name="/ukf_se/frequency" value="300"/>
    <param name="/ukf_se/base_link_frame" value="camera_link"/>
    <param name="/ukf_se/odom0" value="rtabmap/odom"/>
    <rosparam param="/ukf_se/odom0_config">[true,true,true,
                                            true,true,true,
                                            true,true,true,
                                            true,true,true,
                                            true,true,true]
    </rosparam>
    <param name="/ukf_se/odom0_relative" value="true"/>
    <param name="/ukf_se/odom0_pose_rejection_threshold" value="10000000"/>
    <param name="/ukf_se/odom0_twist_rejection_threshold" value="10000000"/>

    <param name="/ukf_se/imu0" value="/imu/data"/>
    <rosparam param="/ukf_se/imu0_config">[false, false, false,
                                           true,  true,  true,
                                           true,  true,  true,
                                           true,  true,  true,
                                           true,  true,  true]
    </rosparam>
    <param name="/ukf_se/imu0_differential" value="true"/>
    <param name="/ukf_se/imu0_relative" value="false"/>
    <param name="/ukf_se/use_control" value="false"/>
    <param name="/ukf_se/odom0_config" value="{true,true,true,}"/> -->


  </group>



</launch>
